builddir
.vscode
.idea
.*.swp
docker/Dockerfile
.vscode
prom/build/*
promhttp/build/*
promtest/build/*
tty.gif
ttyrecord
_CPack_Packages/
*deb
*tar.gz
*vgcore*
*.o
*/venv/
build


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
strangle.prom
